<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Fill Information:</h1>
        <form data-th-action="@{/contact}" data-th-object="${contact}" method="POST">
            <p>
                Name: 
                <input type="text" data-th-field="*{name}">
                <br>
                <span class="error" data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}">
            </p>
            
            <br>
            <p>
                Email: 
                <input type="text" data-th-field="*{email}">
                <br>
                <span class="error" data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}">
                <div data-th-if="${#fields.hasErrors('global')}">
                    <p data-th-each="error : ${#fields.errors('global')}" data-th-text="${error}" class="error"></p>
                </div>
            </p>

            <br>
            <p>
                Tel No.: 
                <input type="text" data-th-field="*{telNo}">
                <br>
                <span class="error" data-th-if="${#fields.hasErrors('telNo')}" data-th-errors="*{telNo}">
            </p>

            <br>
            <p>
                <input type="submit" data-th-field="Save">
            </p>
        </form>
    </body>
</html>